{% extends 'layout.html' %}

{% block content %}

<main>
<h1>All Questions</h1>
<input type='text' id='search' onkeyup='SearchFilter()' 
placeholder='Search for questions'>
<div id='questionList'>
{% for post in posts %}
<div class='grid_container'>
    {% if g.logged_in_user %}
        <a href='/comment/{{post.id}}'><h3 class='title'>{{ post.title }}</h3></a>
        <a href='/comment/{{post.id}}'><p class='discussion'>{{ post.discussion }}</p></a>
    {% else %}
        <h3 class='title'>{{ post.title }}</h3>
        <p class='discussion'>{{ post.discussion }}</p>
    {% endif %}
    <div class='other_information'>
    <p>Posted by: <a class='name' id='name' href='/profile/{{post.post_user.id}}'><strong>{{ post.post_user.username }}</strong></a></p>
    <p>date: {{ post.date }} 
    <p>comments: {{ post.comments }}</p>
    <p>good question: {{ post.likes }}</p>
    <p class='tags'>Tags: {% for catego in post.categories_post %}
        {{catego.topic}}
        {% endfor %}
    </p>
    </div class='comment_button'>
    {% if g.logged_in_user %}
        <a href='/comment/{{post.id}}'>💬</a>
    {% else %}
        <a href='/signin'>💬</a>
    {% endif %}
</div>
{% endfor %}
</div>

<script>
function SearchFilter() {
    // listing all the variables
    var input, filter, questionList, question, title, i, txtValue;
    input = document.getElementById('search')
    filter = input.value.toUpperCase();
    questionList = document.getElementById('questionList')
    question = questionList.getElementsByClassName('grid_container')

    for (i=0; i < question.length; i++) {
        title = question[i].getElementsByTagName('h3')[0];

        txtValue = title.textContent || title.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            question[i].style.display = '';
        } else {
            question[i].style.display = 'none';
        }
    }
}
</script>
</main>


{% endblock %} 