<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>StudyNetwork</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta
            name='Study Network'
            content='Study Network is a social network that can be used in education and study. 
            Study Network will allow people to share their knowledge and help each other’s weaknesses online.'>
        <link rel='stylesheet' href='/static/css/style.css'>
    </head>
    <body>
        {% include 'nav.html' %}  
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
    </body>


</html>