{% extends 'layout.html' %}


{% block content %}
<main>
<div class='notification'>
<h1>Unread notifications</h1>
{% if notifications %}
    {% for notification in notifications %}
        <ul>
            <li><a href='/mark_read/{{notification.id}}/{{notification.posts_notification.id}}/1'><strong>{{notification.sender}}</strong>
                 has made a reply to your post<strong>[{{notification.posts_notification.title}}]:</strong>
                {{notification.content}} ➡</a>
            </li>
        </ul>
    {% endfor %}
    <button onclick="window.location.href='/mark_read/0/0/0'">Delete all</button>
{% else %}
    <p>You have no notifications to display</p>
{% endif %}
</div>
</main>
{% endblock %}
